:root{
  --red: #ad171c;
  --gray: #ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.loading-img {
  width: 100%;
  height: 100%;
  max-height: 260px;
  max-width: 260px;
  background-image: url(../images/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.loading-ctn {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
}

.subject-param {
  cursor: pointer;
  position: relative;
}

.subject-param[data-disabled]{
  cursor: default;
  background-color: #8a161a;
  color: #ccc;
}

.subject-param i.fa {
  margin-left: 8px;
}

#header {
  background-color: var(--red);
  color: #fff;
  padding: 16px 60px; 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
}
#header .title {
  margin-left: 4px;
}

#main {
  margin-top: 10px;
  padding: 16px;
}

#main .title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  background-color: var(--red);
  font-weight: lighter;
  padding: 8px 30px;
  text-transform: uppercase;
}

#filter-dropdown {
  width: 100%;
  max-width: 480px;
  padding: 8px;
  margin: 6px 0;
  cursor: pointer;
  outline: none;
  border: 1px solid #aaa;
  color: #333;
  border-radius: 4px;
}

#filter-dropdown:disabled {
  cursor: default;
}

#description {
  padding: 6px;
  background-color: #ecdcdc;
}

#data-table-ctn {
  position: relative;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
}

#data-table thead {
  background-color: var(--red);
  color: #fff;
}

#data-table thead th {
  padding: 6px 0;
}

#data-table tbody td {
  border: 1px solid var(--gray);
  padding: 4px;
}

#data-table tbody td input[type='checkbox']{
  --size: 18px;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
}

#data-table tbody td input[type='checkbox']:disabled {
  cursor: default;
}
