* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html,
body {
  width: 100%;
  height: 100%;
}
.headers {
  width: 100%;
  height: 50px;
  background-color: #ad171c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

ul {
  list-style: none;
  display: flex;
  text-align: center;
  justify-items: left;
  line-height: 50px;
}
ul li {
  color: aliceblue;
  padding-left: 30px;
  font-size: larger;
}
li a {
  text-decoration: none;
  color: aliceblue;
}

.contents {
  width: 100%;
  display: flex;
}
.contents .mains {
  width: 100%;
  display: flex;
  position: relative;
  margin-right: 10px;
  margin-left: 1px;
}
.contents .tits {
  width: 100%;
  background-color: #ad171c;
  position: absolute;
  border-radius: 5px;
  padding: 14px;
  color: aliceblue;
  text-align: left;
  font-size: large;
}

.banners {
  width: 100%;
  height: 80px;
}

.mains .content_announces {
  width: 100%;
  border: 1px solid rgb(147, 171, 171);
  border-left: none;
  border-top: none;
  min-height: 50%;
  margin-top: 60px;
  margin-right: 20px;
}
.content_announces input {
  font-size: larger;
  text-decoration: none;
  margin: 10px;
}
.content_announces .tx1s {
  display: flex;
  margin: 20px;
}

.tx2s {
  min-width: 300px;
}
.tx1s input {
  width: 400px;
  border: 1px solid rgb(224, 218, 218);
  border-radius: 5px;
  height: 50px;
}
.content_announces button {
  justify-content: center;
  width: 70px;
  height: 30px;
  justify-items: center;
  margin-left: 500px;
  color: white;
  background-color: #ad171c;
  border-radius: 5px;
  border: none;
}
#doimk {
  width: 100%;
}
.logins {
  width: 25%;
  height: 80%;
  justify-content: space;
  position: relative;
  background-color: rgb(247, 240, 240);
  border-radius: 5px;
}
.logins .title1s {
  width: 100%;
  height: 50px;
  font-size: large;
  background-color: #ad171c;
  border-radius: 5px;
}
.logins h1 {
  color: aliceblue;
  text-align: center;
  justify-items: center;
  /* justify-content: left; */
  padding: 10px;
  text-align: center;
}

.logins .input_boxs {
  width: 100%;
  /* height: 200px; */
}
.input_boxs label {
  color: black;
  font-size: medium;
  display: block;
}
.input_boxs input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  justify-items: center;
  justify-content: center;
  padding-left: 5px;
  border: 1px solid #ad171c;
  margin: 10px 0;
}
.input_boxs button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  justify-items: center;
  justify-content: center;
  padding-left: 5px;
  border: 1px solid #ad171c;
}
.input_boxs button {
  background-color: #ad171c;
  color: aliceblue;
  font-size: large;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
button:hover {
  background-color: #a04144;
}
.input_boxs .fa-solid {
  position: absolute;
  font-size: larger;
  right: 15px;
  cursor: pointer;
  /* top: 50%; */
}
.input_boxs .fa-user,
.fa-lock {
  padding-top: 20px;
  cursor: pointer;
}
.input_boxs .fa-right-to-bracket {
  padding-top: 30px;
  color: #fff;
}
.input_boxs .forget_passwords {
  font-size: large;
  text-decoration: none;
  color: black;
  position: absolute;
  right: 25px;
  margin-top: 60px;
}
.forget_passwords a:hover {
  color: rgb(147, 171, 171);
}

.footers {
  display: block;
  background-color: #b8474a;
  margin-top: 150px;
  text-align: right;
  padding: 20px;
  z-index: 1;
  position: relative;
  height: 100%;
}

.footer_contents p {
  margin-right: 20px;
  font-size: large;
  color: black;
  font-weight: bolder;
  padding-top: 5px;
  margin-left: 1000px;
  font-size: large;
  color: black;
  font-weight: bolder;
  display: flex;
}
@media only screen and (min-width: 1000px) {
  .logins {
    width: 25%;
  }
  .logins .input_boxs {
    padding-left: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .body,
  .html {
    width: 100%;
    height: 1200px;
  }
  .tx2s {
    min-width: 200px;
  }

  .tx1s input {
    width: 200px;
    border: 1px solid rgb(224, 218, 218);
    border-radius: 5px;
    height: 50px;
  }

  .content_announces button {
    justify-content: center;
    width: 70px;
    height: 30px;
    justify-items: center;
    margin-left: 250px;
    color: white;
    background-color: #ad171c;
    border-radius: 5px;
    border: none;
  }

  .logins {
    display: none;
  }

  .banners {
    display: none;
  }

  .banners img {
    display: none;
  }

  .footer_contents p {
    margin-left: 0; /* Đặt lại margin-left về 0 */
    text-align: center; /* Căn giữa văn bản */
  }
}
