#loading {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

#loading .loading-ctn {
  width: 100%;
  height: 100%;
  max-height: 260px;
  max-width: 260px;
  background-image: url(./assets/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#subject-form .dropdown-ctn {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 8px;
}

.w-50 {
  width: 50%;
}
.section-class-input-label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 6px;
}

.section-class-input-label input {
  cursor: pointer;
}

.section-class-input-label:hover,
.section-class-input-label:has(input:hover) {
  background-color: #baabab80;
}

.outOfStock td {
  background-color: #cccccc;
}

.text-center {
  text-align: center;
}

.cursor-pointer:hover {
  cursor: pointer;
}
